# Demonstration of Pandas Module

In [1]:
import pandas as pd
import numpy as np

Setting Random State

In [2]:
rng = np.random.RandomState(10)

## Creating a Series

In [3]:
serA = pd.Series(rng.randint(0, 10, 4))
serA

0    9
1    4
2    0
3    1
dtype: int64

## Creating a Data Frame

In [4]:
dfA = pd.DataFrame(rng.randint(0, 10, (3, 3)), columns=['A', 'B', 'C'])
dfA

   A  B  C
0  9  0  1
1  8  9  0
2  8  6  4

## Creating a Series based on index values

In [5]:
serB = pd.Series([1, 3, 5, 7], index=[1, 2, 5, 4])
serB

1    1
2    3
5    5
4    7
dtype: int64

In [6]:
serA + serB

0    NaN
1    5.0
2    3.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [7]:
serA.add(serB)

0    NaN
1    5.0
2    3.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [8]:
serA.add(serB, fill_value=0)

0    9.0
1    5.0
2    3.0
3    1.0
4    7.0
5    5.0
dtype: float64

## Creating Data Frame based on columns

In [9]:
dfB = pd.DataFrame(rng.randint(0, 10, (2, 2)), columns=list('BA'))
dfB

   B  A
0  3  0
1  4  6

In [10]:
dfA + dfB

      A     B   C
0   9.0   3.0 NaN
1  14.0  13.0 NaN
2   NaN   NaN NaN

In [11]:
dfA.add(dfB)

      A     B   C
0   9.0   3.0 NaN
1  14.0  13.0 NaN
2   NaN   NaN NaN

In [12]:
dfA.add(dfB, fill_value=0)

      A     B    C
0   9.0   3.0  1.0
1  14.0  13.0  0.0
2   8.0   6.0  4.0

In [13]:
dfA.stack()

0  A    9
   B    0
   C    1
1  A    8
   B    9
   C    0
2  A    8
   B    6
   C    4
dtype: int64

## Selecting Data in Series

In [14]:
serB

1    1
2    3
5    5
4    7
dtype: int64

In [15]:
serB.loc[5] = None# location based on series Index
serB

1    1.0
2    3.0
5    NaN
4    7.0
dtype: float64

In [16]:
serB.loc[1:2]

1    1.0
2    3.0
dtype: float64

In [17]:
serB.iloc[3] = np.nan   # Index Location
serB

1    1.0
2    3.0
5    NaN
4    NaN
dtype: float64