# Multiple Linear Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Loading Dataset - Houser Pricing

In [2]:
data_df = pd.read_csv('data/housingPrice2.csv')
data_df.head()

   AREA  FLOOR  ROOM CODE  PRICE
0  1000      7     2    B   5618
1  1030      7     1    A   5201
2  1060      1     1    A   4779
3  1090      6     1    A   5425
4  1120      0     2    B   5657

## Seperating Dependent and Independent Variables

In [3]:
x = data_df.iloc[:,:3]
x.head()

   AREA  FLOOR  ROOM
0  1000      7     2
1  1030      7     1
2  1060      1     1
3  1090      6     1
4  1120      0     2

In [4]:
y = data_df.iloc[:,-1:]
y.head()

   PRICE
0   5618
1   5201
2   4779
3   5425
4   5657

## Spliting the Data for Test Train

In [5]:
from sklearn import model_selection

x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size=0.2, random_state = 100)
x_test.shape

(10, 3)

## Training the Multiple Linear Regression Model

In [6]:
from sklearn import linear_model

myModel = linear_model.LinearRegression(fit_intercept=True)
myModel.fit(x_train, y_train)

print("Intercept: ", myModel.intercept_, "\nCoefficients: ", myModel.coef_)

Intercept:  [-3106.412792]
Coefficients:  [[   4.68576316   71.78274093 1894.45529322]]

## Model Evaluation

In [7]:
print("Train R2 Score:", myModel.score(x_train, y_train))
print("Test R2 Score:", myModel.score(x_test, y_test))

Train R2 Score: 0.9646204930750824
Test R2 Score: 0.8606154687481633